<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Create account</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text"
               id="firstname"
               class="form-control"
               formControlName="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text"
               id="lastname"
               class="form-control"
               formControlName="lastname">
      </div>
      <div class="form-group">
        <label for="emergencyPhoneNumber">Emergency phone number</label>
        <input type="text"
               id="emergencyPhoneNumber"
               class="form-control"
               formControlName="emergencyPhoneNumber">
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" id="photo" (change)="detectFiles($event)"
               class="form-control" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">File uploaded</p>
      </div>
      <button class="btn btn-primary"
              type="submit"
              [disabled]="userForm.invalid || fileIsUploading">
        Save
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
